.pag{
    border-style: solid; 
    background-color: aqua;
    padding: 150px;
    margin: 01rem;

    font-size: 65px;
    text-align: center;
    grid-area: pag;
}
  


    .costadito{
        padding: 9.4rem;
        margin: 1.2rem;
        background-color: aquamarine;
        border-style: solid;
        list-style-type: none;
      
    
    .about{
        background-color: aqua;
        margin: 01rem;
        font-size: 30px;
        border: solid;
}

}

