.footer{
    background-image: url(https://images.alphacoders.com/902/902094.jpg);
    background-position: center;
    padding: 05rem;
    margin: 01rem;
    text-align: center;
    justify-content: space-evenly;
    font-family: 'Blaka', cursive;
    border-style: solid; 
    border-color: white;
    background-position-y: -34rem;
    background-repeat: no-repeat;
    background-size: cover;
    border-style: solid; 
    grid-area: footer;
    
    .ul{ 
        list-style-type: none;
        font-size: 20px;
        display: flex;
        justify-content: space-evenly;
        .ini {
            font-size: 40px;
            transition: 0.2s;
            }
            .ini:hover{
            background-color: #54bbf7;
            box-shadow: 0 0 10px #54bbf7, 0 0 40px #54bbf7, 0 0 80px #54bbf7;
            color: rgba(0, 0, 0, 0.811) 
            
            }
    } 
}