.footer{
  
    background-image: linear-gradient(to left, green, yellow);
    padding: 05rem;
    margin: 01rem;
    text-align: center;
    justify-content: space-evenly;
    font-family: 'Blaka', cursive;
    border-style: solid; 
    grid-area: footer;
    
    .ul{ 
        list-style-type: none;
        font-size: 20px;
        display: flex;
        justify-content: space-evenly;
        .ini {
            font-size: 40px;
            transition: 0.2s;
            }
            .ini:hover{
            background-color: #62ee8e;
            box-shadow: 0 0 10px #62ee8e, 0 0 40px #62ee8e, 0 0 80px #62ee8e;
            color: rgba(80, 33, 33, 0.811) 
            
            }
    } 
}