.footer{
    background-color: rgb(129, 129, 216);
    background-position: center;
    margin: 01rem;
    text-align: center;
    justify-content: space-evenly;
    font-family: 'Blaka', cursive;
    border-style: solid; 
    border-color: white;
    background-position-y: 0rem;
    background-repeat: no-repeat;
    background-size: cover;
    border-style: solid; 
    grid-area: footer;
    
    .ul{ 
        list-style-type: none;
        display: flex;
        justify-content: start;
        .ini {
            border-style: solid;
            padding: 5px;
            margin: 5px;
            text-decoration: none;
            text-shadow: 0 0 10px white;
            font-size: 30px;
            transition: 0.2s;
            }
                .ini:hover{
            background-color: #54bbf7;
            box-shadow: 0 0 10px #54bbf7, 0 0 40px #54bbf7, 0 0 80px #54bbf7;
            color: rgba(0, 0, 0, 0.811) 
            
                }
        } 
}