.header{
    background-color: #319299;
    padding: 06rem;
    margin: 01rem;
    text-align: center;
    background-image: url(https://d2ofqe7l47306o.cloudfront.net/games/1920x1080/sea-of-thieves-season-five-buried-treasures.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-style: solid; 
    border-style: solid;
    border-color: white;
    background-position-y: -20rem;
    grid-area: header;
    
    .titulo{
        
     font-family: 'Blaka', cursive;
     color: rgb(0, 0, 0);
     font-size: 75px;
    }
    .ul{
        list-style-type: none;
        font-size: 20px;
        display: flex;
        justify-content: space-evenly;
        
      }

   }