.formulario2{
    margin: 01rem;
    padding: 01rem;
    background-color: #62ee8e;
    border-style: solid; 
  
  .reserva{
    font-family: 'Blaka', cursive;
    color: rgb(99, 44, 44);
    font-size: 75px;
    text-align: center;
  
  }
}