.header{
    background-color: #62ee8e;
    padding: 10rem;
    margin: 01rem;
    text-align: center;
    background-image: url(https://bloygo.yoigo.com/embed/fe49617b65bd6d5b6013ac0aa73a1a474727ba31570445357/2019-Septiembre-Fotos-SEO-piratas.jpg?imagick=1&size=1000);
    border-style: solid; 
    grid-area: header;
    
    .titulo{
        
     font-family: 'Blaka', cursive;
     color: rgb(99, 44, 44);
     font-size: 75px;
    }
    .ul{
        list-style-type: none;
        font-size: 20px;
        display: flex;
        justify-content: space-evenly;
        
      }

   }