  /* formulario */
  .section{
    font-size: 30px;
    text-align: center;
    padding-bottom: 02rem;
    margin: 01rem;
    background-image: url(https://thumbs.dreamstime.com/b/vintage-paper-decorative-border-old-exture-background-105308931.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-style: solid; 
  }